{% extends "layout.html" %}

{% block body %}
<div class="page-header">
    <h1>Участники соревнования {{competition.name}}</h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        {% for member in members %}
        <tr {% if member.number is not null %}class="success"{% endif %}>
            <td>{{member.number}}</td>
            <td><a href="{{ path_for('editMember', { 'competitionId': competition.id, 'memberId': member.id }) }}">{{member.lastName}} {{member.firstName}}</a></td>
            <td>{{member.clubName}}</td>
            <td>{{member.city}}</td>
            <td>{{member.dob}}</td>
            <td>{{member.tags|join(' | ')}}</td>
            <td class="danger"><a href="#" onclick='removeItem("{{competition.id}}", "{{member.id}}"); return false;'>X</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block page_js %}
<script>
    function removeItem(competitionId, memberId) {
        $.ajax({
            url: '/competitions/' + competitionId + '/members/' + memberId + '/',
            data: {},
            dataType: 'json',
            type: 'DELETE',
            async: true,
            success: function (data) { // callback method for further manipulations
                console.log(data);
                location.href = '/competitions/' + competitionId + '/members/';
            },
            error: function (data) { // if error occured
                alert('error');
            }
        });
        return false;
    }
</script>
{% endblock %}
