{% extends "layout.html" %}

{% block body %}

<div class="page-header">
    <h1>Редактирование Соревнования</h1>
</div>

<form class="form-horizontal" id="competition">
    <input type="hidden" name="id" class="form-control" value="{{competition.id}}" required="required">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label ">Название:</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" value="{{competition.name}}" placeholder="Название Соревнования" required="required">
        </div>
    </div>
    <div class="form-group">
        <label for="startTime" class="col-sm-2 control-label ">Дата начала:</label>
        <div class="col-sm-3">
            <input type="text" name="startTime" class="form-control" id="startTime" placeholder="2017-04-17 17:00:00" required="required">
        </div>
        <label for="startTime" class="col-sm-2 control-label ">Дата завершения:</label>
        <div class="col-sm-3">
            <input type="text" name="endTime" class="form-control" id="endTime" placeholder="2017-04-17 20:00:00" required="required">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Теги:</label>
        <div class="col-sm-10">
            {% set i = 0 %}
            {% for tag in competition.tags %}
            <div class="col-sm-5">
                <input type="text" name="tags[]" class="form-control" placeholder="Тег" value="{{ tag }}">
            </div>
            {% set i = i + 1 %}
            {% endfor %}

            {% for k in i..9 %}
            <div class="col-sm-5">
                <input type="text" name="tags[]" class="form-control" placeholder="Тег">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Чекпоинты:</label>
        <div class="col-sm-10">
            {% set i = 0 %}
            {% for checkpointId, checkpoint in competition.checkpoints %}
            <input type="hidden" name="checkpoints[{{ loop.index - 1}}][id]" class="form-control" value="{{ checkpointId }}">
            <div class="col-sm-3">
                <input type="text" name="checkpoints[{{ loop.index - 1 }}][name]" class="form-control" placeholder="Старт" value="{{ checkpoint.name }}">
            </div>
            <div class="col-sm-2">
                <input type="number" name="checkpoints[{{ loop.index - 1 }}][sort]" class="form-control" placeholder="1" value="{{ checkpoint.sort }}">
            </div>
            {% set i = i + 1 %}
            {% endfor %}
            {% for k in i..9 %}
            <div class="col-sm-3">
                <input type="text" name="checkpoints[{{ k }}][name]" class="form-control" placeholder="Чекпоинт {{ k + 1 }}">
            </div>
            <div class="col-sm-2">
                <input type="number" name="checkpoints[{{ k }}][sort]" class="form-control" placeholder="{{ k + 1 }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
{% endblock %}

{% block page_js %}

<script src="/js/jquery.serializejson.min.js"></script>
<script>
    function parseISOLocal(s) {
        var b = s.split(/\D/);
        return new Date(b[0], b[1]-1, b[2], b[3], b[4], b[5]);
    }
    $(function() { // on document load
        var startTime = new Date({{competition.startTime}}*1000);
        $('#startTime').val(startTime.getFullYear() + '-' + ("0" + startTime.getMonth()).substr(-2) + '-' + ("0" + startTime.getDate()).substr(-2) + ' ' + startTime.getHours() + ':' + ("0" + startTime.getMinutes()).substr(-2) + ':' + ("0" + startTime.getSeconds()).substr(-2));
        var endTime = new Date({{competition.endTime}}*1000);
        $('#endTime').val(endTime.getFullYear() + '-' + ("0" + endTime.getMonth()).substr(-2) + '-' + ("0" + endTime.getDate()).substr(-2) + ' ' + endTime.getHours() + ':' + ("0" + endTime.getMinutes()).substr(-2) + ':' + ("0" + endTime.getSeconds()).substr(-2));
        $('#competition').submit(function () {

            var data = $('#competition').serializeJSON();
            data.startTime = parseISOLocal(data.startTime).getTime() / 1000;
            data.endTime = parseISOLocal(data.endTime).getTime() / 1000;
            var jsonData = JSON.stringify(data);
            $.ajax({
                url: '/api/competitions/{{competition.id}}/',
                data: jsonData,
                dataType: 'json',
                type: 'PUT',
                async: true,
                success: function (data) { // callback method for further manipulations
                    location.href = '/competitions/{{competition.id}}/view/';
                },
                error: function (data) { // if error occured
                    alert('error');
                }
            });
            return false;
        });
    });
</script>
{% endblock %}
