{% extends "layout.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>{{ competition.name }}</h1>
</div>
<div class="table-responsive">
    <div class="col-sm-8 col-lg-8" id="breadcrumbs">
        {% include 'links.html.twig' with {competition: competition} only %}
    </div>
</div>

<h4>Теги:</h4>
<div class="btn-group-toggle" data-toggle="buttons">
{% for tag in competition.tags %}
    <label class="btn btn-success active">
        <input type="checkbox" checked autocomplete="off"> {{ tag }}
    </label>
{% endfor %}
</div>

<h4>Чекпоинты:</h4>
<table class="table table-bordered table-condensed">
    <tr>
        {% for checkpoint in competition.checkpoints %}
        <td>{{checkpoint.name}}</td>
        {% endfor %}
    </tr>
</table>



<a href="{{ path_for('editCompetition', { 'competitionId': competition.id }) }}">Редактировать</a>
{% endblock %}
